@font-face {
  font-family: "LINESeedSans";
  src: url("/fonts/LINESeedSans_W_Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeedSans";
  src: url("/fonts/LINESeedSans_W_Bd.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("/fonts/IBMPlexSansThaiLooped-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-background-color: #1e2022;
  --main-text-color: #f0f5f9;
  --main-button-color: #9c9c9c;
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow: unset;
  /* :has(:popover-open) {
    overflow: hidden;
  } */
}

html {
  font-family: "LINESeedSans", "IBM Plex Sans Thai Looped", "LINESeedSansJP",
    system-ui, sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 14px;
}

body {
  padding-top: 72px;
}

footer {
  padding-top: 88px;
}

footer a {
  color: var(--main-text-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

button {
  font-family: "LINESeedSans", "IBM Plex Sans Thai Looped";
  background-color: var(--main-button-color);
  border: none;
  padding: 5px 12px;
  display: inline-block;
  cursor: pointer;
  margin: 10px 0px;
}

.border-top {
  border-top: solid 1px var(--main-text-color);
  padding: 10px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--main-background-color);
}

.border-bottom {
  border-bottom: solid 1px var(--main-text-color);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--main-background-color);
  text-align: center;
}

.tag-time,
.tag-line,
.detail-map,
.open-map,
.tag-duration {
  border-radius: 5px;
  padding: 3px 8px;
  margin: 3px;
  line-height: 1.9;
  text-wrap: nowrap;
  text-align: center;
  height: 35px;
}

.tag-time {
  background-color: #4f80d1;
}

.tag-duration {
  background-color: #4b4a4a;
}

.detail-map {
  background-color: #000;
}

.open-map {
  background-color: transparent;
  border: 1px solid rgb(113 110 110);
  color: rgb(113 110 110);
}

.ks {
  background-color: rgb(242, 127, 30);
}
.a {
  background-color: rgb(242, 112, 111);
}
.jo {
  background-color: rgb(0, 113, 197);
}
.en {
  background-color: rgb(0, 91, 63);
}
.jt {
  background-color: rgb(242, 128, 27);
}
.ueno {
  background-color: rgb(157, 31, 162);
}
.ja {
  background-color: rgb(70, 165, 115);
}
.tj {
  background-color: rgb(0, 0, 153);
}

.jb {
  background-color: rgb(242, 201, 0);
}

.jc {
  background-color: rgb(242, 82, 16);
}

.fuji {
  background-color: rgb(0, 94, 209);
}

.f {
  background-color: rgb(156, 94, 49);
}

.ty {
  background-color: rgb(216, 0, 65);
}

.h {
  background-color: rgb(168, 168, 160);
}

.jn {
  background-color: rgb(242, 201, 0);
}

.joetsu {
  background-color: rgb(242, 162, 148);
}

.js {
  background-color: rgb(226, 31, 37);
}

.nrt {
  background-color: rgb(237, 60, 45);
}

.line {
  border: 1px solid #525252a6;
  margin: 10px 0;
}
