---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Currency">
  <div>currency</div>
  <iframe
    src="https://docs.google.com/spreadsheets/d/1-PQnOPLiKEYTnirit4EgkqVVHzqg9V3Mhc4emHX6W1o/edit#gid=0"
    style="height:100%; width:100%; border:none;"></iframe>
</Layout>

<style></style>

<script></script>
