---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trip Tokyo with Mother">
  <div class="body">Body</div>
</Layout>

<style>
  .body {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
