---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import myImage from "../assets/kentaro-toma-ZSszWRLLlbg-unsplash.jpg";

const cardData = [
  {
    title: "title1",
    body: "body1",
    picture: myImage,
    alt: "kawagoe",
  },
  {
    title: "title2",
    body: "body2",
    picture: myImage,
    alt: "",
  },
];
---

<Layout title="Trip Tokyo with Mother">
  <div class="body">
    {
      cardData.map((item) => (
        <Card
          title={item.title}
          body={item.body}
          picture={item.picture}
          alt={item.alt}
        />
      ))
    }
  </div>
</Layout>

<style>
  .body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
  }
</style>
