---
// @ts-nocheck
---

<details name="my-accordion">
  <summary>Summary 1</summary>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas delectus
    quibusdam, eum, aperiam sunt non dolorum pariatur molestias suscipit aut
    quia quas vero, illo quisquam nostrum sequi excepturi. Aliquam, obcaecati?
  </p>
</details>

<details name="my-accordion">
  <summary>Summary 2</summary>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas delectus
    quibusdam, eum, aperiam sunt non dolorum pariatur molestias suscipit aut
    quia quas vero, illo quisquam nostrum sequi excepturi. Aliquam, obcaecati?
  </p>
</details>

<details name="my-accordion">
  <summary>Summary 3</summary>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas delectus
    quibusdam, eum, aperiam sunt non dolorum pariatur molestias suscipit aut
    quia quas vero, illo quisquam nostrum sequi excepturi. Aliquam, obcaecati?
  </p>
</details>
