---
const currentPath = Astro.url.pathname;

import { Icon } from "astro-icon/components";

const tab = [
  {
    title: "สถานที่",
    icon: "mdi:map-marker",
    path: "/",
  },
  {
    title: "คำแนะนำ",
    icon: "mdi:information-variant",
    path: "/information/",
  },
];
---

<footer>
  <div class="tabbar">
    <div class="tabbar-wrap">
      {
        tab.map((item) => (
          <div class="tabbar-item">
            <a
              href={item.path}
              class={currentPath === item.path ? "active" : ""}
            >
              <div class="tabbar-content">
                <Icon name={item.icon} />
                {item.title}
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</footer>

<style>
  [data-icon] {
    width: 24px;
    height: 24px;
  }
  .tabbar-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    min-height: 48px;
  }
  .tabbar-item {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tabbar-item a {
    color: #848484;
  }

  .tabbar-item .active {
    color: #fff;
  }

  .tabbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
