---
import { Icon } from "astro-icon";

const tab = [
  {
    title: "สถานที่",
    icon: "mdi:map-marker",
    path: "/",
  },
  {
    title: "การเดินทาง",
    icon: "mdi:train",
    path: "/travel",
  },
  {
    title: "ค่าใช้จ่าย",
    icon: "mdi:currency-jpy",
    path: "/currency",
  },
  {
    title: "คำแนะนำ",
    icon: "mdi:information-variant",
    path: "/information",
  },
];
---

<footer>
  <div class="border-top">
    <div class="tabbar-wrap">
      {
        tab.map((item) => (
          <div class="tabbar-item">
            <a href={item.path}>
              <Icon name={item.icon} width="24" height="24" />
              <div>{item.title}</div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</footer>

<style>
  .tabbar-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    min-height: 48px;
  }
  .tabbar-item {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px 8px;
  }
  .tabbar-item div {
    /* font-size: 1rem; */
  }
</style>
