---

---

<div class="border-bottom">
  <h1 class="heading">Trip Tokyo With My Mother</h1>
  <div>March 24 - 28, 2024</div>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .heading {
    font-size: 1.25rem;
    font-weight: bold;
    text-wrap: balance;
  }
</style>
