---
import Accordion from "../../components/Accordion.astro";
import Layout from "../../layouts/Layout.astro";

const imagepath =
  "https://www.jreast.co.jp/e/stations/img/floormap/0034_1f-2f_en.png";
---

<Layout title="Kamakurakoko-Mae Station">
  <h3>Kamakurakōkō-Mae Station</h3>
  <p>p</p>
  <span> span</span>
  <Accordion imagepath={imagepath} station="สถานี Kamakurakoko-Mae Station" />
</Layout>
