---
// @ts-nocheck
import { pwaInfo } from "virtual:pwa-info";

import { ViewTransitions } from "astro:transitions";

import TabBar from "../components/TabBar.astro";
import TopBar from "../components/Navbar.astro";

import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="แผนการเดินทางเที่ยวญี่ปุ่นกับคุณแม่" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>

    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
    ></script>

    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="app">
    <TopBar />
    <div class="body">
      <slot />
    </div>
    <TabBar />
    <style>
      .app {
        height: 100dvh;
        display: flex;
        flex-direction: column;
      }
      .body {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    </style>
  </body>
</html>
